In [3]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv')

In [4]:
display(student_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
display(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

gender — пол;

race/ethnicity — раса/этническая принадлежность;

parental level of education — уровень образования родителей;

lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);

test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);

math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [8]:
display(student_data.iloc[155]['writing score'])

88

In [10]:
display(student_data['math score'].mean())

66.089

In [14]:
display(student_data['race/ethnicity'].mode())

0    group C
Name: race/ethnicity, dtype: object

In [16]:
mask = student_data['test preparation course'] == 'completed'
display(student_data[mask]['reading score'].mean())

73.89385474860335

In [17]:
mask = student_data['math score'] == 0
display(student_data[mask].shape[0])

1

In [18]:
mask1 = student_data['lunch'] == 'standard'
mask2 = student_data['lunch'] == 'free/reduced'
score_stand = student_data[mask1]['math score'].mean()
score_free = student_data[mask2]['math score'].mean()
display(score_stand)
display(score_free)

70.03410852713178

58.92112676056338

In [20]:
student_data['parental level of education'].value_counts(normalize= True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [21]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [22]:
student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [23]:
mask_A = student_data['race/ethnicity'] == 'group A'
mask_C = student_data['race/ethnicity'] == 'group C'
median_a = student_data[mask_A]['writing score'].median()
mean_C = student_data[mask_C]['writing score'].mean()
display(abs(median_a-mean_C))

5.827586206896555